:root{
--primary-text-color: #757575;
--title-text-color: #212121;
--hero-text-color: #FFFFFF;
--accent-color: #2196F3;
--logo-text-color: #000000;
--button-color: #188CE8;
--hero-background: #2F303A;
--button-portfolio: #F5F4FA;
--footer-color: rgba(255, 255, 255, 0.6);




     /*текст лого  */
    color:
    #000000;
    color: #2196F3;
/* текст сторінок навігації, h2,h3 */
    color: #212121;
    /* текст сторінок при ховері */
    color: #2196F3;
    /* текст пошти та телефону, абзац*/
    color: #757575;
      /* текст пошти при ховері */
    color: #2196F3;
/* текст h1 */
    color: #FFFFFF;
    background: #2F303A;
 /* кнопка */
    background: #2196F3;
   /* кнопка при ховері */
    background: #188CE8;

    /* секция наша команда */
    background: #F5F4FA;
/* в футере телефон и пошта */
    color: rgba(255, 255, 255, 0.6);
/* футер */
    background: #2F303A;
/* кнопка в портфоліо*/
    color: #212121;
    background: #F5F4FA;
 /* кнопка в портфоліо при фокусі*/   
 color: #FFFFFF;
 background: #2196F3;
}

link{
    text-decoration: none;
    font-style: normal;
}
.list{
    list-style: none;
}
body{
    font-family: Roboto, sans-serif;
    color: var(--primary-text-color);
    background-color: var(--hero-text-color);
    font-size: 14px;
}
/* header */
.logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.logo-wrap{
    color: var(--logo-text-color);
}
.logo-white{
    color: var(--hero-text-color);
}
.link-nav{

}
.site-nav.link.current{
color: var(--accent-color)
}
/* hero */
.hero{
    background-color: var(--hero-background);
}
.hero-title{
    color: var(--hero-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--hero-text-color);
    background-color: var(--accent-color);
}
/* скрити заголовок */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }